<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.edu.swufe.ace">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />    <!-- 读取短信权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="theme">

        <receiver android:name=".SMSReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!--主页面-->
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--引导页-->
        <activity android:name=".StartActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录-->
        <activity android:name=".LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <!--注册-->
        <activity android:name=".ZhuceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--找回密码-->
        <activity android:name=".ZhaohuiActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--记账-->
        <activity android:name=".jiyibi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!--明细-->
        <activity android:name=".mingxi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

    </application>

</manifest>